<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../components/head/stylesheets') %> 
        <%- include('../components/head/scripts') %> 
        <%- include('../components/head/meta') %> 
    </head>
    <body>
        <%- include('../components/loader') %> 
        <div class="wrapper">
            <%- include('../components/side') %> 
            <%- body %>
        </div>
    </body>
</html>